body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left,#f25c12, #db2031 );  
}
    
.container{
    max-width: 900px;
    margin: auto;
     
}

.wrapper{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25rem;
    margin: 2rem;
}


.first{
    display: flex;
    justify-content: space-between;
}



.box1{
    border: 1px solid;
    flex-basis: 30%;
    text-align: center;
    color: #ffff;
    background-color: rgb(165, 62, 62);
    border-radius: 5px;
    text-transform: capitalize;
    
}

.second{
    display: flex;
    justify-content: space-between; 
}

.box2{
    border: 1px solid;
    flex-basis: 48%;
    text-align: center;
    color: #ffff;
    background-color: rgb(165, 62, 62);
    border-radius: 5px;
    text-transform: capitalize;
    
}
.third{
    display: flex;
    justify-content: space-between; 
}

.box3{
    border: 1px solid;
    flex-basis: 22%;
    text-align: center;
    color: #ffff;
    background-color: rgb(165, 62, 62);
    border-radius: 5px;
    text-transform: capitalize;
}

.fourth{
    display: flex;
    justify-content: space-between; 
}

.box4{
    border: 1px solid;
    flex-basis: 13.4%;
    text-align: center;
    color: #ffff;
    background-color: rgb(165, 62, 62);
    border-radius: 5px;
    text-transform: capitalize;
}

.fifth{
    display: flex;
    justify-content: space-between; 
}
.box5{
    border: 1px solid;
    flex-basis: 22.1%;
    text-align: center;
    color: #ffff;
    background-color: rgb(165, 62, 62);
    border-radius: 5px;
    text-transform: capitalize;
}
.box-half{
    border: 1px solid;
    flex-basis: 48%;
    text-align: center;
    color: #ffff;
    background-color: rgb(165, 62, 62);
    border-radius: 5px;
    text-transform: capitalize;
}

.sixth{
    display: flex;
    justify-content: space-between; 
}

.box6{
    border: 1px solid;
    flex-basis: 13%;
    text-align: center;
    color: #ffff;
    background-color: rgb(165, 62, 62);
    border-radius: 5px;
    text-transform: capitalize;
    
}

.box-large{
    border: 1px solid;
    flex-basis: 65.5%;
    text-align: center;
    color: #ffff;
    background-color: rgb(165, 62, 62);
    border-radius: 5px;
    text-transform: capitalize;
    
}

/* ---------------media query ----------------- */

/* @media all and (max-width:800px){
    .wrapper{
        display: flex;
        flex-wrap: wrap;
    }
}
@media all and (max-width:500px){
    .box1, .box2, .box3, .box4, .box5, .box6, .box-half, .box-large{
        display: flex;
        flex-wrap: wrap;
    }
} */




